user ec2-user; 
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}
http {
    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    error_log /var/log/nginx/error.log;
    
    sendfile            on;
    tcp_nopush          on;
    keepalive_timeout   65;
    types_hash_max_size 4096;
    client_max_body_size 2g;

    include /usr/share/nginx/modules/*.conf;
    default_type        application/octet-stream;
    
    upstream puma {
        server unix:///home/ec2-user/raisetech-live8-sample-app/tmp/sockets/puma.sock fail_timeout=0;
    }

    server {
        listen 80;
        server_name 18.180.2.113;

        root /home/ec2-user/raisetech-live8-sample-app/public; 

        location / {
          try_files $uri @app; 
        }

        location /assets {
          expires max;
          add_header Cache-Control public;
          root /home/ec2-user/raisetech-live8-sample-app/public;
        }

        location @app {
          proxy_set_header    Host                $http_host;
          proxy_set_header    X-Real-IP           $remote_addr;
          proxy_set_header    X-Forwarded-Host    $host;
          proxy_set_header    X-Forwarded-For     $proxy_add_x_forwarded_for;
          proxy_set_header    X-Forwarded-Proto   $scheme;
          proxy_pass http://puma;
        }
        
        error_page 404 /404.html;
        location = /404.html {
        }
        
        error_page 500 502 503 504 /500.html;
        location = /500.html {
        }
    }
}
